h1 {
    font-size: 1.6rem;
}

pre {
    margin: -.2rem 0 -.2rem 0;
}

input {
    width: 80%;
}

textarea {
    width: 80%;
    height: 800px;
}

ul > li {
    margin: 16px 0 16px 0;
    font-size: 1.2rem;
}

.setting-content > li {
    margin: 16px 0 16px 0;
    font-size: 1rem;
}

.slider {
    display: none;
}

.other-setting .working-img {
    width: 5rem;
    display: block;
}

.page-json {
    display: flex;
    align-items: baseline;
}

.page-json > label[for=page-json_textarea] {
    display: inline-flex;
    margin-top: 1rem;
}

#page-json-commit_div {
    text-align: center;
}

.slider-trigger:after {
    background-image: url('../image/Right-Arrow-PNG-HD.png');
    background-size: 1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transition: transform 300ms ease;
    content: "";
}

.slider-action:after {
    transform: rotate(90deg);
    transition: transform 300ms ease;
}

.decimal-style {
    list-style: decimal-leading-zero;
}

.print-message {
    width: 92%;
    margin-top: 4px;
    color: #dc0800;
}

#import-autocomplete-urls, #export-autocomplete-urls,
#import-all-page-data, #export-all-page-data,
#export-all-project-data {
    font-size: 1rem;
    margin-left: 6px;
}

button#import-autocomplete-urls, button#export-autocomplete-urls,
button#import-all-page-data, button#export-all-page-data,
button#export-all-project-data {
    border: .5px solid;
    border-radius: 6px;
    font-family: inherit;
}

.important_li {
    list-style: none;
}

.important_li:before {
    content: '\2605';
    position: relative;
    right: -1px;
    bottom: 3px;
    margin-left: -19px;
    color: red;
    font-size: 1rem;
}

#toggle-autocomplete {
    font-size: 1.1rem;
}

#all-project-data-export {
    padding-bottom: 5px;
}

#page-json-commit {
    margin-top: 12px;
}

#page-json-commit_div .print-message {
    width: 100%;
}

.input-file-span {
    border: 0.5px solid black;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #ededed;
    margin-left: 6px;
    padding: 4px;
}

.input-file-span:hover {
    background-color: #e7e7e7;
}

#del-project-data {
    margin-left: 6px;
}

.disable-text-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}